<app-alumnos>
  <div navbar-content>
    <div class="container mx-auto p-5 sm:p-10 md:p-16">
      <!-- Botón para abrir el modal de crear grado -->
      <div class="border-b mb-5 flex justify-between items-center text-sm">
        <h2 class="text-blue-600 flex items-center pb-2 pr-2 uppercase font-bold">Gestión de Grados</h2>
        <button (click)="showModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 transform hover:scale-105">Crear Nuevo Grado</button>
      </div>

      <!-- Modal para crear o editar un grado -->
      <div class="overlay" [ngClass]="{'is-active': modalVisible}" (click)="hideModal()">
        <div class="modal-card" (click)="$event.stopPropagation()">
          <header class="modal-card-head flex justify-between items-center bg-indigo-600 text-white py-3 px-4 rounded-t">
            <p class="font-semibold">{{ isEdit ? 'Editar Grado' : 'Crear nuevo grado' }}</p>
            <button class="delete text-white" aria-label="close" (click)="hideModal()">&times;</button>
          </header>
          <section class="modal-card-body p-6">
            <form (ngSubmit)="createOrEditGrado()">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input class="input w-full border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" [(ngModel)]="newGrado.nombre" name="nombre" required>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Turno</label>
                <input class="input w-full border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" [(ngModel)]="newGrado.turno" name="turno" required>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Nivel</label>
                <input class="input w-full border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" [(ngModel)]="newGrado.nivel" name="nivel" required>
              </div>
              <div class="flex justify-end space-x-2">
                <button class="button is-primary bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition duration-300 transform hover:scale-105" type="submit">{{ isEdit ? 'Guardar Cambios' : 'Crear' }}</button>
                <button (click)="hideModal()" class="button is-secondary bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded transition duration-300 transform hover:scale-105" type="button">Cerrar</button>
              </div>
            </form>
          </section>
        </div>
      </div>

      <!-- Tabla de grados -->
      <div class="overflow-x-auto bg-white shadow-md rounded-lg mt-6">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Nombre</th>
              <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Turno</th>
              <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Nivel</th>
              <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grado of grados" class="bg-white border-b hover:bg-gray-50 transition duration-150 ease-in-out">
              <td class="px-4 py-2">{{ grado.nombre }}</td>
              <td class="px-4 py-2">{{ grado.turno }}</td>
              <td class="px-4 py-2">{{ grado.nivel }}</td>
              <td class="px-4 py-2 flex space-x-2">
                <button (click)="deleteGrado(grado.id)" class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded transition duration-300 transform hover:scale-105">Eliminar</button>
                <button (click)="editGrado(grado)" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded transition duration-300 transform hover:scale-105">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-notificationc></app-notificationc>
    </div>
  </div>
</app-alumnos>
