<app-alumnos>
  <div navbar-content>
    <div class="container mx-auto p-5 sm:p-10 md:p-16 bg-gray-100 min-h-screen">
      <!-- Botones para crear matrícula y generar PDF -->
      <div class="flex flex-col sm:flex-row justify-between mb-6">
        <button (click)="showModal()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 transform hover:scale-105 mb-4 sm:mb-0">
          Crear Nueva Matrícula
        </button>
        <button (click)="generatePdfAll()" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 transform hover:scale-105">
          Generar PDF de Todas las Matrículas
        </button>
      </div>

      <!-- Modal para crear matrícula -->
      <div class="overlay" [ngClass]="{'is-active': modalVisible}" (click)="hideModal()">
        <div class="modal-card formulario" (click)="$event.stopPropagation()">
          <header class="modal-card-head flex justify-between items-center bg-slate-700 text-white p-4 rounded-t-lg">
            <p class="modal-card-title font-semibold">Crear nueva matrícula</p>
            <button class="delete text-2xl" aria-label="close" (click)="hideModal()">&times;</button>
          </header>
          <section class="modal-card-body p-6">
            <form (ngSubmit)="createMatricula()">
              <div class="field mb-4">
                <label class="label">Fecha de Matriculación</label>
                <div class="control">
                  <input class="input full-width" type="date" [(ngModel)]="newMatricula.fechaMatriculacion" name="fechaMatriculacion" required>
                </div>
              </div>
              <div class="field mb-4">
                <label class="label">Alumno</label>
                <div class="control">
                  <select class="input full-width" [(ngModel)]="newMatricula.alumnoId" name="alumnoId" required>
                    <option *ngFor="let alumno of alumnos" [ngValue]="alumno.id">{{ alumno.nombre }} {{ alumno.apellidos }}</option>
                  </select>
                </div>
              </div>
              <div class="field mb-4">
                <label class="label">Cursos</label>
                <div class="control">
                  <div *ngFor="let curso of cursos" class="flex items-center mb-2">
                    <input type="checkbox" [(ngModel)]="curso.selected" [ngModelOptions]="{standalone: true}" class="mr-2">
                    <span>{{ curso.nombre }}</span>
                  </div>
                </div>
              </div>
              <div class="buttons mt-4 flex justify-end">
                <button class="button bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md transition duration-300 transform hover:scale-105 mr-2" type="submit">Crear</button>
                <button (click)="hideModal()" class="button bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md transition duration-300 transform hover:scale-105" type="button">Cerrar</button>
              </div>
            </form>
          </section>
        </div>
      </div>

      <!-- Tabla de matrículas -->
      <div class="container bg-white shadow-lg rounded-lg p-6 mt-6">
        <table class="table-auto w-full">
          <thead class="bg-gray-100">
            <tr>
              <th class="px-4 py-2">Fecha de Matriculación</th>
              <th class="px-4 py-2">Alumno</th>
              <th class="px-4 py-2">Cursos</th>
              <th class="px-4 py-2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let matricula of matriculas" class="hover:bg-gray-50 transition duration-150">
              <td class="border px-4 py-2">{{ matricula.fechaMatriculacion }}</td>
              <td class="border px-4 py-2">{{ getAlumnoNombre(matricula.alumnoId, matricula) }}</td>
              <td class="border px-4 py-2">
                <ul>
                  <li *ngFor="let curso of matricula.cursos">{{ getCursoNombre(curso.cursoId) }}</li>
                </ul>
              </td>
              <td class="border px-4 py-2 flex space-x-2">
                <button (click)="deleteMatricula(matricula.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 transform hover:scale-105">Eliminar</button>
                <button (click)="generatePdf(matricula.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 transform hover:scale-105">Generar PDF</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-notificationc></app-notificationc>
    </div>
  </div>
</app-alumnos>
