<app-alumnos></app-alumnos>
<div class="container mx-auto mt-8 px-4 max-w-screen-xl">
  <div class="px-5 mx-auto bg-gray-700 text-white rounded-lg py-8">
    <h1 class="text-3xl font-bold text-center mb-6">¡Bienvenido a nuestra plataforma de gestión académica!</h1>

    <p class="text-lg leading-relaxed mb-6">En nuestra aplicación, hemos diseñado una experiencia educativa integral para facilitar la gestión de estudiantes, profesores y cursos. Ya sea que seas un administrador escolar, un profesor apasionado o un estudiante entusiasta, nuestra plataforma está diseñada para brindarte las herramientas que necesitas para alcanzar tus objetivos educativos.</p>

    <h2 class="text-2xl font-bold text-center mb-4">Explora nuestro universo educativo:</h2>

    <ul class="text-lg mb-6">
      <li>&#8226; <strong>Estudiantes:</strong> Descubre y gestiona perfiles de estudiantes, realiza un seguimiento de su progreso académico, supervisa su asistencia y mantente al día con su rendimiento en clases.</li>
      <li>&#8226; <strong>Profesores:</strong> Conoce a nuestros dedicados profesores, gestiona sus horarios, asigna tareas y proyectos, y colabora en el desarrollo de planes de estudio innovadores.</li>
      <li>&#8226; <strong>Cursos:</strong> Explora una amplia gama de cursos disponibles, desde fundamentos básicos hasta especializaciones avanzadas. Personaliza tu experiencia educativa eligiendo los cursos que mejor se adapten a tus intereses y metas profesionales.</li>
    </ul>

    <h2 class=" font-bold text-center mb-4">Características destacadas:</h2>

    <!-- Lista de características destacadas -->
    <ul class="text-lg  mb-6">
      <li>&#8226; <strong>Gestión de usuarios:</strong> Regístrate como administrador, profesor o estudiante, y accede a funciones personalizadas según tu rol en la plataforma.</li>
      <li>&#8226; <strong>Panel de control intuitivo:</strong> Navega fácilmente por nuestra interfaz de usuario amigable y accede a todas las funciones principales con solo unos pocos clics.</li>
      <li>&#8226; <strong>Seguimiento del progreso:</strong> Supervisa el progreso académico de los estudiantes, realiza un seguimiento de las calificaciones y evalúa el rendimiento en tiempo real.</li>
      <li>&#8226; <strong>Comunicación integrada:</strong> Mantente en contacto con profesores, estudiantes y padres a través de nuestra plataforma de mensajería integrada.</li>
      <li>&#8226; <strong>Calendario de eventos:</strong> Mantente al tanto de fechas importantes con nuestro calendario integrado.</li>
      <li>&#8226; <strong>Personalización:</strong> Adapta tu experiencia educativa según tus preferencias de visualización.</li>
    </ul>

    <p class="text-lg leading-relaxed">Ya seas un estudiante ávido de conocimientos, un educador comprometido o un administrador escolar dedicado, nuestra plataforma tiene algo para ti. Únete a nuestra comunidad educativa hoy mismo y descubre un mundo de oportunidades de aprendizaje, crecimiento y desarrollo personal.</p>

    <p class="text-lgleading-relaxed mb-6">¡Vive la experiencia educativa definitiva con nuestra aplicación de gestión de estudiantes, profesores y cursos!</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8 mb-8">
    <div class="bg-violet-800 rounded-lg shadow-md p-6 hover:bg-gray-700 text-white">
      <h2 class="text-2xl font-bold mb-4">Cursos</h2>
      <p class=" mb-4">Administra y gestiona todos los cursos de la institución.</p>
      <div class="flex justify-between items-center">
        <span class="text-4xl font-bold text-blue-500">25</span>
        <a routerLink="/cursos" class="text-black font-semibold hover:text-white py-1 px-2 rounded-md bg-white hover:bg-black">Ver cursos</a>
      </div>
    </div>
    <div class="bg-yellow-400 rounded-lg shadow-md p-6 hover:bg-gray-700 text-white">
      <h2 class="text-2xl font-bold mb-4">Estudiantes</h2>
      <p class="text-gray-600 mb-4">Gestiona la información y registros de los estudiantes.</p>
      <div class="flex justify-between items-center">
        <span class="text-4xl font-bold text-green-500">458</span>
        <a routerLink="/estudiantes" class="text-black font-semibold hover:text-white py-1 px-2 rounded-md bg-white hover:bg-black">Ver estudiantes</a>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6 hover:bg-gray-700 text-black">
      <h2 class="text-2xl font-bold mb-4">Profesores</h2>
      <p class=" mb-4">Administra y gestiona la información de los profesores.</p>
      <div class="flex justify-between items-center">
        <span class="text-4xl font-bold text-red-500">32</span>
        <a routerLink="/profesores" class="text-black font-semibold hover:text-white py-1 px-2 rounded-md bg-white hover:bg-black">Ver profesores</a>
      </div>
    </div>
  </div>

</div>

