<app-alumnos></app-alumnos>
<div class="container mx-auto py-8">
  <div class="bg-gray-300 rounded-lg overflow-hidden shadow-md">
    <div class="px-6 py-4 bg-gray-100 text-white flex justify-between items-center">
      <h2 class="text-xl font-bold text-black">Profesores</h2>
      <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
        Nuevo Profesor
      </button>
    </div>
    <div class="px-6 py-4">
      <table class="w-full text-sm text-left text-gray-200">
        <thead class="text-xs uppercase bg-gray-700 text-gray-300">
          <tr>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Descripción</th>
            <th scope="col" class="px-6 py-3">Profesor</th>
            <th scope="col" class="px-6 py-3">Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr class="border-b bg-gray-100 border-gray-700 hover:bg-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">
              Curso de Angular
            </th>
            <td class="px-6 py-4 text-black">
              Aprende a desarrollar aplicaciones web modernas con Angular
            </td>
            <td class="px-6 py-4 text-black">Juan Pérez</td>
            <td class="px-6 py-4 flex space-x-2">
              <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                Editar
              </button>
              <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                Eliminar
              </button>
            </td>
          </tr>
          <!-- Agrega más filas de cursos aquí -->
        </tbody>
      </table>
    </div>
  </div>
</div>
